<mat-card *ngIf="loggedIn" class="userInformation">
  <mat-card-header class="userInformationHeader">
    <mat-card-title>
      <span>Welcome: </span>
      {{currentUserName}}</mat-card-title>
  </mat-card-header>
  <mat-card-header class="userInformationHeader">
    <mat-card-title>
      <span>Email: </span>
      {{currentUserEmail}}</mat-card-title>
  </mat-card-header >
  <mat-card-header class="userInformationHeader" >
    <mat-card-title>
      <span>Phone Number: </span>
      {{currentUserPhoneNumber}}</mat-card-title>
  </mat-card-header>
  <mat-card-header class="userInformationHeader">
    <mat-card-title>
      <span>Address: </span>
      {{currentUserAddress}}</mat-card-title>
  </mat-card-header>
</mat-card>

<mat-card *ngIf="!loggedIn" class="loginPanel">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="loginCustomer()" #formData="ngForm">
      <mat-form-field>
        <input matInput placeholder="User Email" formControlName="email">
   

        <div  *ngIf="loginForm.controls.email.dirty || loginForm.controls.email.touched">
          <p class="loginFormErrors" *ngIf="loginForm.get('email').hasError('required') ">Email is Required</p>
          <p class="loginFormErrors" *ngIf="loginForm.get('email').hasError('pattern') ">Invalid pattern</p>
        </div>
      
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
        <div *ngIf="loginForm.controls.password.dirty||loginForm.controls.password.touched">
          <p class="loginFormErrors" *ngIf="loginForm.get('password').hasError('required')">Password is required</p>
        </div>
      </mat-form-field>
      <button [disabled]="formData.invalid" mat-raised-button color="accent" type="submit">Login</button>

    </form>
  </mat-card-content>
</mat-card>
<button class="logout-Button" *ngIf="loggedIn" mat-raised-button color="warn" type="button" (click)="logout()" >Logout</button>