<div class="bodyWallPaper">
  <div class="restaurant-data" *ngFor="let restaurantName of menuList; let i = index">
  <mat-accordion (mouseleave)="leaveAlert()">
 
        <mat-expansion-panel 
        (opened)="panelOpenState = true" 
        (closed)="panelOpenState = false" 
        [expanded]="isPanelOpen(i)"
        (mouseenter)="onMouseEnter(i)"
        (mouseleave)="onMouseLeave()"
                             >
          <mat-expansion-panel-header>
            <mat-panel-title>
             {{restaurantName.restaurantName}}
            </mat-panel-title>
            <mat-panel-description>
                Address:  {{restaurantName.restaurantAddress}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!--  -->
          <div class="foodList">
            <mat-card class="example-card" *ngFor="let data of restaurantName.foodItemsList">
                <mat-card-header>
                  <mat-card-subtitle>{{data.category}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/{{data.name}}.jpg" alt="Photo of a Shiba Inu">
                <div class="food-Name">{{data.name}}</div>
                <mat-card-actions>
                  <div class="food-Price">
                    <h2>$</h2>
                    <p>{{data.price}}</p>
                  </div>
                  <div class="example-button-container">
                    <button mat-mini-fab 
                    (click)=" restaurantDetails(restaurantName); addFoodInformation(data)"
                    color="warn" aria-label="Example icon button with a plus one icon">
                      <mat-icon>plus_one</mat-icon>
                    </button>
                  </div>
              
                </mat-card-actions>
              </mat-card>
          </div>
    
          <button class="orderButton" mat-raised-button color="warn" (click)="orderNow()" >Order Now</button>

  <!--  -->
        </mat-expansion-panel>
      </mat-accordion>
</div>
<div class="nullBlock">

</div>
</div>